.bg-95ff95 {
  background-color: #95ff95;
}

.bg-ff9595 {
  background-color: #ff9595;
}

.bg-c2ffc2 {
  background-color: #c2ffc2;
}

.bg-ffc2c2 {
  background-color: #ffc2c2;
}

.bg-initial {
  background-color: initial;
}

.c-green {
  color: green;
}

.c-red {
  color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wh-100 {
  width: 100%;
  height: 100%;
}
