html,
body,
#root,
.app {
  height: 100%;
}

body {
  background-color: #f5f6fa;
}

#login-container {
  background-color: white;
  width: 350px;
  height: 350px;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 26px -9px rgb(105 105 105 / 100%);
}

#login-row {
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

#login-col {
  text-align: center;
  color: white;
}

.w-250px {
  width: 250px;
}